html{
    font-family: 'Questrial', sans-serif;
}
body{
    margin: 0;  
}
a:link, a:visited{
    color: rgb(63, 127, 187)
}
a:hover{
    color: brown;
}
h3{
    background-color: rgb(63, 127, 187);
    padding: 20px;
    margin: 0 0;
    color: white;
    font-size: 25px;
}
div.links{
    text-align: left;
    margin-top: 10px;
    margin: 0 0
}
div.links p{
    margin: 0 15px;
    background-color: rgb(199, 199, 199);
    margin-left: 1110px;
    margin-right: 0;
    padding-top: 15px;
    padding-left: 15px;
}
p.bottomLink{
    padding-bottom: 27.36%;
}
div.footer p{
    text-align: center;
    font-size: 10px;
    color: white;
    background-color: rgb(63, 127, 187);
    margin: 0;
    padding:10px
}
p.words{
    margin-top: -320px;
    margin-right: 250px;
    text-align: center;
}