html{
    text-align: center;
}
html.profile{
    font-family: 'Girassol', cursive;
    font-size: 35px;
}
html.images{
    font-family: 'Dosis', sans-serif;
    font-size: 35px;
}
html.search{
    font-family: 'Lobster', cursive;
    font-size: 35px;
}
html.settings{
    font-family: 'Indie Flower', cursive;
    font-size: 35px;
}
html.contact{
    font-family: 'Exo 2', sans-serif;
    font-size: 35px;
}
html.links{
    font-family: 'Acme', sans-serif;
    font-size: 35px;
}
img.lady{
    height: 600px;
}